<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
	<title>Index modèle</title>
</h:head>

<h:body>
	<h:link outcome="saisie_personne" value="Saisie d'une personne"></h:link>
	<br/>
	<h:link outcome="recherche_personne" value="Rechercher une personne"></h:link>
</h:body>

</html>