<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Rechercher une personne</title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF8" />
</h:head>

<h:body>
	<h:link outcome="accueil" value="Revenir à l'accueil"></h:link>
	<br/>
	<h:link outcome="saisie_personne" value="Saisir une personne"></h:link>
</h:body>

</html>