<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Personnes</title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF8" />
</h:head>

<h:body>
	<!-- Déclaration du formulaire Personnes -->
	<h:form id="personnesForm">
		<!-- Conteneur graphique en 2 colonnes Col 1 : labels / Col2 : champs de saisie -->
		<h:panelGrid columns="2">
			<h:outputLabel id="nomPersonneLabel" value="Nom :" for="nomPersonneTxt"/>
			<h:inputText id="nomPersonneTxt" value="#{personnesController.personne.nom}" size="30"></h:inputText>
		
			<h:outputLabel id="prenomPersonneLabel" value="Prénom :" for="prenomPersonneTxt"/>
			<h:inputText id="prenomPersonneTxt" value="#{personnesController.personne.prenom}"  size="30"></h:inputText>
		
			<h:outputLabel id="dateNaissancePersonneLabel" value="Date de naissance :" for="dateNaissancePersonneTxt"/>
			<h:inputText id="dateNaissancePersonneTxt" value="#{personnesController.personne.dateNaissance}" size="10">
				<f:convertDateTime pattern="dd/mm/yyyy" />
			</h:inputText>
			<h:outputLabel id="emailPersonneLabel"  value="Email :" for="emailPersonneTxt"/>
			<h:inputText id="emailPersonneTxt" value="#{personnesController.personne.email}" size="20"></h:inputText>

			<h:outputLabel id="rueAdressePersLabel" value="Rue :" for="rueAdressePersTxt"/>
			<h:inputText id="rueAdressePersTxt" value="#{personnesController.adresse.rue}" size="50"></h:inputText>
		
			<h:outputLabel id="complementAdressePersLabel" value="Complément :" for="complementAdressePersTxt"/>
			<h:inputText id="complementAdressePersTxt" value="#{personnesController.adresse.complement}" size="50"></h:inputText>
			
			<h:outputLabel id="codePostalAdressePersLabel" value="Code postal :" for="codePostalAdresseTxt"/>
			<h:inputText id="codePostalAdresseTxt" value="#{personnesController.adresse.codePostal}" size="10"></h:inputText>
			
			<h:outputLabel id="villeAdressePersLabel" value="Ville :" for="villeAdresseTxt"/>
			<h:inputText id="villeAdresseTxt" value="#{personnesController.adresse.ville}" size="10"></h:inputText>
			<br/>
			<h:commandButton value="Créer" action="#{personnesController.createPersonne}"></h:commandButton>
			<h:messages styleClass="messages" errorClass="invalid"
					infoClass="valid" warnClass="warning" globalOnly="true" />
		</h:panelGrid>
			
		<br/>
		<h:dataTable var="lignePersonne" value="#{personnesController.listePersonnes}" border="1" styleClass="simpletablestyle">
			<h:column>
				<f:facet name="header">Nom</f:facet>
				#{lignePersonne.nom}
			</h:column>
			<h:column>
				<f:facet name="header">Prénom</f:facet>
				<h:inputText value="#{lignePersonne.prenom}"></h:inputText>
			</h:column>
			<h:column>
				<f:facet name="header">Date de naissance</f:facet>
				#{lignePersonne.dateNaissance}
			</h:column>
			<h:column>
				<f:facet name="header">Email</f:facet>
				#{lignePersonne.email}
			</h:column>
			<h:column>
				<f:facet name="header">Rue</f:facet>
				#{lignePersonne.adresse.rue}
			</h:column>
			<h:column>
				<f:facet name="header">Complément d'adresse</f:facet>
				#{lignePersonne.adresse.complement}
			</h:column>
			<h:column>
				<f:facet name="header">Code postal</f:facet>
				#{lignePersonne.adresse.codePostal}
			</h:column>
			<h:column>
				<f:facet name="header">Ville</f:facet>
				#{lignePersonne.adresse.ville}
			</h:column>
			<h:column>
				<f:facet name="header">Actions</f:facet>
				<h:commandButton value="Supprimer" action="#{personnesController.supprimerPersonne(lignePersonne)}">
				</h:commandButton>
				<h:commandButton value="Modifier" 
					action="#{personnesController.modifierPersonne(lignePersonne)}"
					icon="fas fa-trash-alt">
				</h:commandButton>
			</h:column>
		</h:dataTable>
	</h:form>
	<h:link outcome="accueil" value="Revenir à l'accueil"></h:link>
	<br/>
	<h:link outcome="recherche_personne" value="Rechercher une personne"></h:link>
</h:body>

</html>